# Introduction to Programming using Python

**Using Anaconda Distribution's Jupyter Notebook**

## Conditional Statements and Loops

## Conditional Statements

- `IF condtion`
- `IF-ELSE condition`
- `Nested IF-ELSE condtion`

### These statements are used to make decisions based on conditions

**Syntax**

    if test expression:
           statement(s)

## IF condition

In [ ]:
#Example
x=1
if x>0:
    print('Hello World')

Hello World

In [ ]:
#Run the exact above code with x=0
#Write your code here

## IF-ELSE condition

In [ ]:
#Example
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

Hi World

## Nested IF-ELSE condition

In [ ]:
# Write a code which can identify the largest number from 3 given numbers
a=10
b=11
c=91
if (a>b) and (a>c):
    print('a is the largest')
elif (a<b) and (b<c): # else - if 
    print('c is the largest')
elif (a<b) and (a<c):
    print('a is the smallest')
elif (b>c) and (b>a):
    print('b is the largest')
#Play around by changing the values

c is the largest

## Advanced IF-ELSE

<img src ="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg" width=50% height =25%></img>

<h1 style ="font-family:Times;color:DarkBlue"> Ms. George is a CA and is just bored of manually calculating her clients' tax slabs. She asks her daughter's friend, YOU!, yes You , to  help her automate this boring stuff.</h1>

<h1 style ="font-family:Times;color:DarkBlue"><img src =" https://cdn.pixabay.com/photo/2018/01/14/23/10/bored-3082829__340.jpg" width=40% height =25%>
 Will you help her?</h1></img>

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [3]:

#use above tax slabs and print the slab and amount that slab % costs the client

income = int(input('Please enter you annual income! (please enter numbers only)'))

tax_slabs = {'slab1':"No Tax!!, woohoo",'slab2':5,'slab3':10,'slab4':15,'slab5':20,'slab6':25,'slab7':30}

if income <= 250000:
    print(' You wont have to pay income tax as your income is less than 250000')
elif (income>=250001) and (income<=500000):
    print('Your Tax Slab is {}% and approx amount would be {}'.format(tax_slabs['slab2'],(tax_slabs['slab2']*income)/100))
elif (income>=500001) and (income<=750000):
    print('Your Tax Slab is {}% and approx amount would be {}'.format(tax_slabs['slab3'],(tax_slabs['slab3']*income)/100))
elif (income>=750001) and (income<=1000000):
    print('Your Tax Slab is {}% and approx amount would be {}'.format(tax_slabs['slab4'],(tax_slabs['slab4']*income)/100))
elif (income>=1000001) and (income<=1250000):
    print('Your Tax Slab is {}% and approx amount would be {}'.format(tax_slabs['slab5'],(tax_slabs['slab5']*income)/100))
elif (income>=1250001) and (income<=1500000):
    print('Your Tax Slab is {}% and approx amount would be {}'.format(tax_slabs['slab6'],(tax_slabs['slab6']*income)/100))
elif (income>1500000):
    print(' Your Tax Slab is {}% and approx amount would be {}'.format(
        tax_slabs['slab7'],(tax_slabs['slab7']*income)/100))

print('To check again, please re-run the program')

Please enter you annual income! (please enter numbers only)1700000000
 Your Tax Slab is 30% and approx amount would be 510000000.0
To check again, please re-run the program

# Loops
- FOR loop
- While loop

## `for` Loop

In [ ]:
#Printing square from 1 to 10
x=[1,2,3,4,5,6,7,8,9]

for i in x:#iterating in list x and printing each element of the list x along with its square
    print('Square of {} is {}'.format(i,i*i))

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81

<h1 style ="font-family:Times;color:DarkBlue">Goods and Services Tax or simply GST. When this word comes, the local shopkeepers kind of feel irked because of the complex calculations and confusing guidelines. </h1>


<img src ="https://www.outlookindia.com/outlookmoney/public/uploads/article/gallery/a0bbda7bd6bac8ffd1816c339e5b71d8.jpg" width=60% height =25%></img>


<h1 style ="font-family:Times;color:DarkBlue">You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab.</h1>

<img src ="https://i.imgflip.com/v1ymo.jpg"></img>

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

#Given

Product Cost / GST Slab

Product1- 1000 / **18%**

Product2- 250 / **18%**

Product3- 125 / **5%**

Product4- 345 / **18%**

Product5- 820 / **12%**

Product6- 980 / **5%**

Product7- 500 / **12%**

In [3]:
products_gst_slabs = {'Product1':18,'Product2':18,'Product3':5,'Product4':18,'Product5':12,'Product6':5,
                          'Product7':12}

products_original_cost = {'Product1':1000,'Product2':250,'Product3':125,'Product4':345,'Product5':820,'Product6':980,
                          'Product7':500}

In [4]:
for i in products_gst_slabs.keys():
    gst_amt= (products_original_cost[i]*products_gst_slabs[i])/100
    net_price=products_original_cost[i]+gst_amt
    print('The net price of {} @ {}% GST is INR {}'.format(i,products_gst_slabs[i],net_price))

The net price of Product1 @ 18% GST is INR 1180.0
The net price of Product2 @ 18% GST is INR 295.0
The net price of Product3 @ 5% GST is INR 131.25
The net price of Product4 @ 18% GST is INR 407.1
The net price of Product5 @ 12% GST is INR 918.4
The net price of Product6 @ 5% GST is INR 1029.0
The net price of Product7 @ 12% GST is INR 560.0

## Using IF-ELSE with for Loop

In [5]:
#Printing squares of even numbers from 1 to 100
#range is used to get a list of numbers from a specified range. The last number is not printed as counting starts from 0 in python
for i in range(0,101):
    if i%2==0:
        print('Square of {} is {}'.format(i,i*i))

Square of 0 is 0
Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100
Square of 12 is 144
Square of 14 is 196
Square of 16 is 256
Square of 18 is 324
Square of 20 is 400
Square of 22 is 484
Square of 24 is 576
Square of 26 is 676
Square of 28 is 784
Square of 30 is 900
Square of 32 is 1024
Square of 34 is 1156
Square of 36 is 1296
Square of 38 is 1444
Square of 40 is 1600
Square of 42 is 1764
Square of 44 is 1936
Square of 46 is 2116
Square of 48 is 2304
Square of 50 is 2500
Square of 52 is 2704
Square of 54 is 2916
Square of 56 is 3136
Square of 58 is 3364
Square of 60 is 3600
Square of 62 is 3844
Square of 64 is 4096
Square of 66 is 4356
Square of 68 is 4624
Square of 70 is 4900
Square of 72 is 5184
Square of 74 is 5476
Square of 76 is 5776
Square of 78 is 6084
Square of 80 is 6400
Square of 82 is 6724
Square of 84 is 7056
Square of 86 is 7396
Square of 88 is 7744
Square of 90 is 8100
Square of 92 is 8464
Square of 94 is 8836
Square of 96 is 9216
Square of 98 is 9604
Square of 100 is 10000

## `while` loop

In [ ]:
#Printing square from 1 to 10
i=0
while i<=10: #condition until i is less equal to 10, keep running
    print('Square of {} is {}'.format(i,i*i))
    i=i+1 #incrementing i after every print

Square of 0 is 0
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

## Using IF-ELSE with `while` Loop

In [ ]:
#Printing squares of even numbers from 1 to 100
i=0
while i<=100:
    if i%2==0:
        print('Square of {} is {}'.format(i,i*i))
    i=i+1

Square of 0 is 0
Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100
Square of 12 is 144
Square of 14 is 196
Square of 16 is 256
Square of 18 is 324
Square of 20 is 400
Square of 22 is 484
Square of 24 is 576
Square of 26 is 676
Square of 28 is 784
Square of 30 is 900
Square of 32 is 1024
Square of 34 is 1156
Square of 36 is 1296
Square of 38 is 1444
Square of 40 is 1600
Square of 42 is 1764
Square of 44 is 1936
Square of 46 is 2116
Square of 48 is 2304
Square of 50 is 2500
Square of 52 is 2704
Square of 54 is 2916
Square of 56 is 3136
Square of 58 is 3364
Square of 60 is 3600
Square of 62 is 3844
Square of 64 is 4096
Square of 66 is 4356
Square of 68 is 4624
Square of 70 is 4900
Square of 72 is 5184
Square of 74 is 5476
Square of 76 is 5776
Square of 78 is 6084
Square of 80 is 6400
Square of 82 is 6724
Square of 84 is 7056
Square of 86 is 7396
Square of 88 is 7744
Square of 90 is 8100
Square of 92 is 8464
Square of 94 is 8836
Square of 96 is 9216
Square of 98 is 9604
Square of 100 is 10000